# Pandas Fundamentals

In [6]:
# imports 
import pandas as pd

# Extend notebook viewport
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

%matplotlib inline

## File I/O

In [10]:
# first make sure that the file you are looking for is where you are looking
%ls

data/  pandas_basics.ipynb

In [11]:
%pwd

'/home/eric/Desktop/curriculum_helpers/python/pandas'

In [9]:
# from csv 
df = pd.read_csv('data/data.csv')

In [4]:
# Show top few rows of the dataframe
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [15]:
# Show bottom few rows of the dataframe
df.tail()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [13]:
# alternative ways of creating dataframe
a = [1,2,3]
b = [1,2,3]
c = [1,2,3]
pd.DataFrame([a,b,c], columns=['a','b','c'])

   a  b  c
0  1  2  3
1  1  2  3
2  1  2  3

In [14]:
# dataframe from dict
    # dictionary keys become the column names, values are column data
pd.DataFrame({'a':a, 'b':b,'c':c})

   a  b  c
0  1  1  1
1  2  2  2
2  3  3  3

## Indexing

In [16]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [18]:
# Grab a row
df.iloc[0]

Purchase ID                                            0
SN                                               Lisim78
Age                                                   20
Gender                                              Male
Item ID                                              108
Item Name      Extraction, Quickblade Of Trembling Hands
Price                                               3.53
Name: 0, dtype: object

In [19]:
# first 5 rows
df.iloc[:5]

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [22]:
# grab a column
df['Age']

0    20
1    40
2    24
3    24
4    23
Name: Age, dtype: int64

In [23]:
# first 5 rows of column
df['Age'][:5]

0    20
1    40
2    24
3    24
4    23
Name: Age, dtype: int64

In [25]:
# columns and rows
df.loc[5:10, ['Age', 'Item ID']]

    Age  Item ID
5    22       81
6    36      169
7    20      162
8    22       21
9    35      136
10   23       95

In [27]:
df.Age[:5]

0    20
1    40
2    24
3    24
4    23
Name: Age, dtype: int64

## Masking

In [32]:
# start with df, pass in a index of True False Values (condition)
# just the rows where age > 10
df[df.Age>21][:10]

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67

In [31]:
# multi condition
df[(df['Age']>21) & (df['Age']<25)][:10]

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
8,8,Undjask33,22,Male,21,Souleater,1.10
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
18,18,Reunasu60,22,Female,82,Nirvana,4.90
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16

In [40]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [39]:
# and
(df.loc[0, 'Age']>21) & (df.loc[0, 'Age']<25)

False

In [43]:
# or
(df.loc[0, 'Age']>21) | (df.loc[0, 'Age']<25)

True

In [37]:
# inner index
(df['Age']>21)[:10]

0    False
1     True
2     True
3     True
4     True
5     True
6     True
7    False
8     True
9     True
Name: Age, dtype: bool

## Vectorized Operation

In [45]:
def print_one(x):
    
    return x

df.iloc[:10].apply(print_one)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [47]:
def include(x):
    if x >21 & x < 25:
        return 'Orange'
    else:
        return 'Apple'
    
# mask using apply 
df['Age'].apply(include)

0       Apple
1      Orange
2      Orange
3      Orange
4      Orange
5      Orange
6      Orange
7       Apple
8      Orange
9      Orange
10     Orange
11     Orange
12      Apple
13     Orange
14     Orange
15      Apple
16      Apple
17      Apple
18     Orange
19     Orange
20      Apple
21      Apple
22     Orange
23     Orange
24     Orange
25     Orange
26     Orange
27     Orange
28      Apple
29     Orange
        ...
750    Orange
751    Orange
752     Apple
753    Orange
754    Orange
755    Orange
756     Apple
757    Orange
758     Apple
759    Orange
760     Apple
761    Orange
762    Orange
763     Apple
764    Orange
765    Orange
766    Orange
767    Orange
768    Orange
769    Orange
770    Orange
771     Apple
772    Orange
773     Apple
774    Orange
775     Apple
776     Apple
777     Apple
778    Orange
779    Orange
Name: Age, Length: 780, dtype: object

In [52]:
def include(x):
    if x >21 & x < 25:
        return True
    else:
        return False
    
# mask using apply 
df[df['Age'].apply(include)][:10]

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67

In [54]:
# apply with lambda 
df['Age'].apply(lambda x: True if (x<25) & (x>21) else False)[:10]

0    False
1    False
2     True
3     True
4     True
5     True
6    False
7    False
8     True
9    False
Name: Age, dtype: bool

## Group By Operation

In [58]:
# value counts
df['Item ID'].value_counts()[:10]

178    12
82      9
108     9
145     9
92      8
19      8
75      8
103     8
72      8
60      8
Name: Item ID, dtype: int64

In [62]:
# value counts to dictionary
df['Item ID'].value_counts().to_dict()[178]

12

In [63]:
# groupby
df.groupby('Item ID')

In [67]:
# groupby agg
df.groupby('Item ID').sum()[:10]
df.groupby('Item ID').count()[:10]
df.groupby('Item ID').mean()[:10]

         Purchase ID        Age  Price
Item ID
0         287.250000  18.500000   1.28
1         424.000000  22.333333   3.26
2         334.333333  23.833333   2.48
3         347.833333  25.833333   2.49
4         377.000000  24.800000   1.70
5         433.000000  23.500000   4.08
6         270.500000  22.500000   3.70
7         312.857143  22.285714   1.33
8         470.666667  28.333333   3.93
9         199.750000  24.000000   2.73

In [69]:
# agg{'column to apply to': 'aggregate function to apply (as str) }
grouped = df.groupby('Item ID').agg({'Age':'mean', 'Price': 'sum', 'Item Name':'first'})
grouped[:5]

               Age  Price           Item Name
Item ID
0        18.500000   5.12            Splinter
1        22.333333   9.78            Crucifer
2        23.833333  14.88             Verdict
3        25.833333  14.94        Phantomlight
4        24.800000   8.50  Bloodlord's Fetish

In [70]:
# agg{'column to apply to': 'aggregate function to apply (as str) }
grouped = df.groupby('Item ID').agg({'Age':['mean', 'max', 'min'], 'Price': 'sum', 'Item Name':'first'})
grouped[:5]

               Age          Price           Item Name
              mean max min    sum               first
Item ID
0        18.500000  21  16   5.12            Splinter
1        22.333333  25  19   9.78            Crucifer
2        23.833333  31  15  14.88             Verdict
3        25.833333  34  18  14.94        Phantomlight
4        24.800000  29  20   8.50  Bloodlord's Fetish

In [72]:
df[df['Item ID']==0]

     Purchase ID          SN  Age Gender  Item ID Item Name  Price
133          133    Phaena87   20   Male        0  Splinter   1.28
150          150    Inasti31   17   Male        0  Splinter   1.28
204          204  Chamimla85   16   Male        0  Splinter   1.28
662          662  Mindilsa60   21   Male        0  Splinter   1.28

In [71]:
grouped.columns

MultiIndex(levels=[['Age', 'Price', 'Item Name'], ['first', 'max', 'mean', 'min', 'sum']],
           labels=[[0, 0, 0, 1, 2], [2, 1, 3, 4, 0]])

In [74]:
grouped.loc[:5, 'Age'].loc[:5,'mean']

Item ID
0    18.500000
1    22.333333
2    23.833333
3    25.833333
4    24.800000
5    23.500000
Name: mean, dtype: float64

In [75]:
grouped.columns = ['Age_mean', 'age_max', 'age_min', 'price_sum', 'Item_name']
grouped

,Age_mean,age_max,age_min,price_sum,Item_name
Item ID,,,,,
0,18.500000,21,16,5.12,Splinter
1,22.333333,25,19,9.78,Crucifer
2,23.833333,31,15,14.88,Verdict
3,25.833333,34,18,14.94,Phantomlight
4,24.800000,29,20,8.50,Bloodlord's Fetish
5,23.500000,30,20,16.32,Putrid Fan
6,22.500000,24,21,7.40,Rusty Skull
7,22.285714,29,16,9.31,"Thorn, Satchel of Dark Souls"
8,28.333333,42,20,11.79,"Purgatory, Gem of Regret"
9,24.000000,35,16,10.92,"Thorn, Conqueror of the Corrupted"
10,24.500000,27,22,7.16,Sleepwalker
11,21.200000,34,8,18.25,Brimstone
12,25.833333,34,19,6.12,Dawne
13,22.500000,28,15,5.64,Serenity
14,26.500000,29,24,5.22,Possessed Core
15,23.800000,26,21,14.80,Soul Infused Crystal
16,20.000000,20,20,14.20,Restored Bauble
17,26.000000,45,15,6.80,"Lazarus, Terror of the Earth"
18,18.500000,22,15,9.30,"Torchlight, Bond of Storms"
19,23.250000,30,20,8.16,"Pursuit, Cudgel of Necromancy"
20,23.800000,37,15,16.35,Netherbane
21,21.200000,24,16,5.50,Souleater
22,21.333333,26,17,13.08,Amnesia
23,22.000000,22,22,1.99,Crucifer
24,27.400000,38,18,19.05,Warped Fetish
25,23.333333,38,10,26.10,Hero Cane
26,25.000000,30,20,2.24,Unholy Wand
27,15.000000,15,15,3.30,"Riddle, Tribute of Ended Dreams"
28,27.000000,33,21,2.12,"Flux, Destroyer of Due Diligence"
29,25.800000,35,20,9.90,"Chaos, Ender of the End"
...,...,...,...,...,...
154,25.250000,38,15,17.60,Feral Katana
155,20.400000,23,15,5.05,War-Forged Gold Deflector
156,20.000000,26,15,8.85,Soul-Forged Steel Shortsword
157,20.000000,25,15,19.20,"Spada, Etcher of Hatred"
158,14.500000,16,13,4.90,"Darkheart, Butcher of the Champion"
159,17.142857,23,7,21.56,"Oathbreaker, Spellblade of Trials"
160,20.333333,29,16,26.40,Azurewrath
161,24.800000,31,17,8.80,Devine
162,22.200000,24,20,13.35,Abyssal Shard
163,23.000000,26,20,17.25,Thunderfury Scimitar
164,18.857143,24,11,11.41,Exiled Doomblade
165,24.750000,35,16,19.44,Bone Crushing Silver Skewer
166,22.333333,29,16,9.21,Thirsty Iron Reaver
167,21.250000,23,19,14.44,"Malice, Legacy of the Queen"
168,22.000000,24,20,2.96,"Sun Strike, Jaws of Twisted Visions"
169,27.500000,36,16,8.72,"Interrogator, Blood Blade of the Queen"
170,22.750000,25,20,15.88,Shadowsteel
171,31.000000,37,23,5.37,Scalpel
172,23.500000,33,15,12.56,Blade of the Grave
173,35.500000,41,30,9.86,Stormfury Longsword
174,17.500000,25,8,13.88,Primitive Blade
175,30.333333,35,26,13.44,Woeful Adamantite Claymore
176,24.000000,32,16,5.68,Relentless Iron Skewer
177,25.500000,30,21,4.16,"Winterthorn, Defender of Shifting Worlds"
178,23.916667,36,7,50.76,"Oathbreaker, Last Hope of the Breaking Storm"
179,21.000000,37,7,26.88,"Wolf, Promise of the Moonwalker"
180,11.000000,11,11,3.36,Stormcaller
181,21.800000,25,17,8.30,Reaper's Toll
182,22.333333,23,21,12.09,Toothpick
183,22.000000,29,15,3.27,Dragon's Greatsword

In [77]:
grouped.loc[:5, 'Item_name']

Item ID
0              Splinter
1              Crucifer
2               Verdict
3          Phantomlight
4    Bloodlord's Fetish
5            Putrid Fan
Name: Item_name, dtype: object